@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
:root {
  --main-color: rgb(229, 229, 229);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--main-color);
}
h3 {
  display: block;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
}
.grid {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 10px 20px black;
  background-color: black;
}
.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.pac-dot {
  background: url(images/yellowDot.png);
  box-sizing: border-box;
}
.wall {
  background: url(images/wall.png);
}
.power-pellet {
  background: url(images/pinkDot.png);
}
.ghost-1 {
  background: url(images/ghost.png);
  border: none;
}
.ghost-2 {
  background: url(images/ghost.png);
  border: none;
}
.ghost-3 {
  background: url(images/ghost.png);
  border: none;
}
.ghost-4 {
  background: url(images/ghost.png);
  border: none;
}
.pac-man {
  background: url(images/pac1.png);
  border-radius: 10px;
  border: 0.2px solid black;
}
.scared-ghost {
  background: url(images/scaredGhost.png);
}
