@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
:root {
  --main-color: rgb(229, 229, 229);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--main-color);
}
h3 {
  display: block;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 3.5rem;
}
.grid {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 10px 10px 20px black;
}
.grid div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.pac-dot {
  background: green;
  border: 5px solid var(--main-color);
  box-sizing: border-box;
  z-index: -100;
}
.wall {
  background: #8ecae6;
}
.power-pellet {
  background: green;
  border-radius: 10px;
}
.ghost-1 {
  background: red;
  border: none;
}
.ghost-2 {
  background: pink;
  border: none;
}
.ghost-3 {
  background: cyan;
  border: none;
}
.ghost-4 {
  background: orange;
  border: none;
}
.pac-man {
  background: rgb(255, 255, 0);
  border-radius: 10px;
  border: 0.2px solid black;
}
.scared-ghost {
  background: aquamarine;
}
